{% extends 'base.html' %}

{% block title %} Sign in {% endblock %}

{% block app_content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4 a-box">
          <h1> Sign In </h1>
          {{ wtf.quick_form(form) }}
          <span> ▼ </span>
            <span class ="tab">Need help?</span>
      </div>
    </div> <!--end form col -->
      <div class="col-md-4 offset-md-4">
      <p> New to Amazon? </p>
        <span class ="a-button-inner btn-primary btn center amz-color">
          <a id="createAccountSubmit" tabindex="6" href="#" class="a-button-text" role="button">
          Create your Amazon account
        </a>
      </span>
    </div>
  </div> <!--end main row -->
</div> <!--end main container -->





  </div>
</div>
{% endblock %}
