{% extends 'base.html' %}

{% block title %} Sign in {% endblock %}

{% block app_content %}
<div class="row centerall container top-pad">
  <div class="col-md-4 form-border bottom-pad">
    <h1> Sign In </h1>
    {{ wtf.quick_form(form) }}
    <span> ▼ </span>
      <span class ="tab">Need help?</span>
<!--end form col -->
      <p> New to Amazon? </p>
        <span class ="a-button-inner btn-primary btn center amz-color">
          <a id="createAccountSubmit" tabindex="6" href="#" class="a-button-text" role="button">
            <a href="/register">Create your Amazon account</a>
        </a>
      </span>
</div> <!--end main container -->

{% endblock %}
